.Experience {
  background: #424242;
  display: flex;
  flex-direction: row;
  z-index: 0;
  color:white;
}

.Experience h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: end;
  max-width: 250px;
  min-width: 250px;
}

.Experience h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 30px;
}

.Experience h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width:800px) {
  .Experience {
    flex-direction: column;
    align-items: center;
  }

  .Experience h1 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: start;
  }
}