.Footer {
  background: #424242;

  /* text style */
  font-size: 16px;
  color: white;

  /* viewport dimension and alignment */
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.Footer a {
  color: white;
  text-decoration: none;
}

.Footer p {
  padding: 0 5px 0 5px;
}

@media only screen and (max-width:800px) {
  .Footer {
    height: 15vh;
    flex-direction: column;
  }

  .Footer p {
    margin: 5px 0 5px 0px;
  }
}