.Projects {
  background: white;
  z-index: 0;
  color: #616161;
}

.Projects h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #FB8C00;
  padding-left: 20px;
  padding-right: 20px;
  text-align: end;
  max-width: 250px;
  min-width: 250px;
}

@media only screen and (max-width:800px) {
  .Projects h1 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
}