.App-background {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

.App-background img {    
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.icon {
  height: 2vh;
}

.icon-animate {
  animation: icon-spin infinite 20s linear;
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  height: 600px;
}

.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
}