.icon {
  height: 2vh;
}

.icon-animate {
  animation: icon-spin infinite 20s linear;
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column {
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.section {
  padding: 60px;
}

.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.orange {
  color: orange;
}

@media only screen and (max-width:800px) {
  .section {
    padding: 30px;
  }
}