body > #root > div {
  height: 100vh;
  background-color: #424242;
}

.App-header {
  /* stick header to the top */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  /* text style */
  font-size: 18px;
  color: white;
  vertical-align: middle;

  /* viewport dimension and alignment */
  background-color: #616161;
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-footer {
  /* stick footer to the bottom */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  /* text style */
  font-size: 12px;
  color: white;

  /* viewport dimension and alignment */
  height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-icon {
  animation: App-icon-spin infinite 20s linear;
  height: 3vh;
  pointer-events: none;
}

.App-react-logo {
  animation: App-icon-spin infinite 20s linear;
  height: 2vh;
  pointer-events: none;
}

@keyframes App-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
